@font-face {
  src: url("../fonts/Lato-Regular.ttf");
  font-family: "lato";
}

.fs1 {
  font-size: 6vmax;
  font-family: "lato";
  font-weight: 500;
}

.fs2 {
  font-size: 4vmax;
  font-family: "lato";
  font-weight: 500;
}

.fs3 {
  font-size: 2.2vmax;
  font-family: "lato";
  font-weight: 600;
}

.fs4 {
  font-size: 1.5vmax;
  font-family: "lato";
  font-weight: 500;
}

.fs5 {
  font-size: 1.1vmax;
  font-family: "lato";
  font-weight: 500;
}

.fs6 {
  font-size: 1vmax;
  font-family: "lato";
  font-weight: 500;
}

@media (max-width: 30cm) {
  .fs4 {
    font-size: 2.5vmax;
  }

  .fs5 {
    font-size: 1.5vmax;
  }
}
