@import url("./font.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

.wrapper {
  width: 100%;
  overflow-x: hidden;

  .sec1 {
    position: relative;
    height: 80vh;
    width: 100%;
    padding: 0 10vmax;

    .clip-path {
      position: absolute;
      left: 50%;
      height: 100%;
      width: 100%;
      clip-path: polygon(0 0, 75% 0, 100% 100%, 25% 100%);
      background-color: #0a004b;
      z-index: -1;
    }

    .overlay {
      position: absolute;
      bottom: -3vmax;

      .contentbox {
        display: flex;
        align-items: center;
        justify-content: center;

        .left {
          h3 {
            font-weight: 600;
          }

          .fs5 {
            margin-top: 0.5vmax;
            margin-left: 0.2vmax;
            width: 70%;
            font-weight: 600;
            line-height: 1.7vmax;
            letter-spacing: 0.03vmax;
          }

          .listbox {
            margin-top: 1vmax;

            .list {
              display: flex;
              gap: 0.7vmax;
              margin-top: 0.8vmax;

              .checkbox {
                height: 1.1vmax;
                width: 1.1vmax;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: forestgreen;
                border-radius: 50%;
                font-size: 0.8vmax;
                color: #fff;
                margin-top: 0.05vmax;
              }

              .fs6 {
                color: rgb(59, 59, 59);
              }
            }

            h6 {
              margin-top: 2.5vmax;
              font-weight: 600;
              letter-spacing: 0.03vmax;
            }
          }

          .imgbox {
            margin-top: 0.5vmax;
          }

          .buttonbox {
            display: flex;
            gap: 1vmax;
            margin-top: 1.2vmax;

            button {
              padding: 1vmax;
              width: 30%;
              font-size: 1.1vmax;
              border: 1px solid #0a004b;
              color: #0a004b;
              cursor: pointer;
              background-color: transparent;

              &:nth-child(1) {
                background-color: #0a004b;
                color: #fff;
              }
            }
          }
        }

        .right {
          img {
            height: 30vmax;
          }
        }
      }

      .row {
        display: flex;
        gap: 15vmax;
        padding: 1.5vmax 0;
        padding-left: 4vmax;
        border-radius: 0.5vmax;
        background-color: #fff;
        box-shadow: -5px 5px 20px #dadada;

        .box {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 1vmax;

          i {
            color: rgb(101, 101, 101);
          }

          .watch {
            font-size: 2.2vmax;
          }

          .calender {
            font-size: 2vmax;
          }

          .book {
            font-size: 2vmax;
          }

          .textbox {
            h5 {
              color: rgb(59, 59, 59);
            }
          }
        }
      }
    }
  }

  .sec2 {
    width: 100%;
    padding: 6vmax 10vmax;

    h3 {
      text-transform: capitalize;
    }
  }
}
